<!DOCTYPE html>
<html>
<head>
  <title>PasswordCheck</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline|Rock+Salt" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|UnifrakturMaguntia" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=UnifrakturMaguntia" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">

</head>
<body>


<%= yield %>

<%= flash[:alert] %>
<%= flash[:notice] %>
</body>
</html>
